@{
    ViewBag.Title = "波次模板管理";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        GetTree();
        GetGrid("");
    });

    var WarehouseId, WarehouseName = "";
    //加载左边树
    function GetTree() {
        var itemtree = {
            onnodeclick: function (item) {
                WarehouseId = item.id;            //ID
                if (WarehouseId == '1') {
                    WarehouseId = '';
                }
                WarehouseName = item.text;        //名称
                $("#CenterTitle").html(" - " + WarehouseName);
                $("#gridTable").jqGrid('setGridParam', { url: "@Url.Content("~/BaseModule/WaveTemplate/GridListJson")?WarehouseId=" + WarehouseId }).trigger('reloadGrid');
            },
            url: "@Url.Content("~/BaseModule/Warehouse/TreeJson")"
        };
        $("#ItemsTree").treeview(itemtree);
    }

    //加载表格
    function GetGrid(WarehouseId) {
        $("#gridTable").jqGrid({
            url: "@Url.Content("~/BaseModule/WaveTemplate/GridListJson")",
            datatype: "json",
            height: $(window).height() - 105,
            autowidth: true,
            colModel: [
                { label: '仓库Id', name: 'warehouseid', index: 'warehouseid', hidden: true },
                { label: '区域Id', name: 'areaid', index: "areaid", hidden: true },
                { label: '所属仓库', name: 'warehousename', index: "warehousename", width: 150 },
                { label: '区域编码', name: 'areacode', index: "areacode", width: 120 },
                { label: '区域名称', name: 'areaname', index: "areaname", width: 150 },
                {
                    label: '有效', name: 'status', index: 'status', width: 45, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == '1') return "<img src='../../Content/Images/checkokmark.gif'/>";
                        if (cellvalue == '0') return "<img src='../../Content/Images/checknomark.gif'/>";
                    }
                },
                { label: '描述', name: 'description', index: "description", width: 300 }
            ],
            pager: false,
            rowNum: 1000,
            sortname: 'SortCode',
            sortorder: 'asc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true
        });
        columnModelData("#gridTable");
    }

    //新增
    function btn_add() {
        if (!!WarehouseId) {
            var url = "/BaseModule/WaveTemplate/Form?WarehouseId=" + WarehouseId
            openDialog(url, "Form", "新增波次模板", 450, 260, function (iframe) {
                top.frames[iframe].AcceptClick()
            });
        } else {
            alertDialog("请选择左边仓库", 0);
        }
    }

    //编辑
    function btn_edit() {
        var KeyValue = GetJqGridRowValue("#gridTable", "areaid");
        if (IsChecked(KeyValue)) {
            var url = "/BaseModule/WaveTemplate/Form?KeyValue=" + KeyValue;
            openDialog(url, "Form", "编辑波次模板", 450, 260, function (iframe) {
                top.frames[iframe].AcceptClick();
            });
        }
    }

    //删除
    function btn_delete() {
        var KeyValue = GetJqGridRowValue("#gridTable", "areaid");
        if (IsSelectData(KeyValue)) {
            var delparm = 'KeyValue=' + KeyValue;
            delConfig('/BaseModule/WaveTemplate/DeleteArea', delparm, KeyValue.split(",").length);
        }
    }

    //刷新
    function windowload() {
        $("#gridTable").trigger("reloadGrid"); //重新载入
    }


</script>
<div id="layout" class="layout">
    <!--左边-->
    <div class="layoutPanel layout-west">
        <div class="btnbartitle">
            <div>
                仓库列表
            </div>
        </div>
        <div class="ScrollBar" id="ItemsTree"></div>
    </div>
    <!--中间-->
    <div class="layoutPanel layout-center">
        <div class="btnbartitle">
            <div>
                波次模板<span id="CenterTitle"></span>
            </div>
        </div>
        <div class="tools_bar" style="border-top: none; margin-bottom: 0px;">
            <div class="PartialButton">
                @Html.Partial("_PartialButton")
            </div>
        </div>
        <table id="gridTable"></table>
    </div>
</div>
