/Code/.vs
/Code/AnJie.ERP.WebApp/bin
/Code/AnJie.ERP.Business/bin
/Code/AnJie.ERP.Business/obj
/Code/AnJie.ERP.DataAccess/obj
/Code/AnJie.ERP.DataAccess/bin
/Code/AnJie.ERP.Cache/obj
/Code/AnJie.ERP.Cache/bin
/Code/AnJie.ERP.Entity/obj
/Code/AnJie.ERP.Entity/bin
/Code/AnJie.ERP.Plugins/bin
/Code/AnJie.ERP.Plugins/obj
/Code/AnJie.ERP.Repository/obj
/Code/AnJie.ERP.Repository/bin
/Code/AnJie.ERP.Service/obj
/Code/AnJie.ERP.Service/bin
/Code/AnJie.ERP.Utilities/obj
/Code/AnJie.ERP.Utilities/bin
/Code/AnJie.ERP.ViewModel/obj
/Code/AnJie.ERP.ViewModel/bin
/Code/AnJie.ERP.WebApp/obj
