@{
    ViewBag.Title = "打印物流单";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

@section head
{
    <script src="~/Content/Scripts/LodopFuncs.js"></script>
    <object id="LODOP1" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width="0" height="0">
        <embed id="LODOP_EM1" TYPE="application/x-print-lodop" width="0" height="0" PLUGINSPAGE="install_lodop32.exe"></embed>
    </object>

    <style>
        #grid td {
            text-align: left;
            border-bottom: 1px solid #ccc;
            padding: 6px 2px;
        }

        #divFileName {
            width: 310px;
            white-space: nowrap;
            text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            overflow: hidden;
        }

        #grid td img {
            vertical-align: middle;
            border: 0px solid #fff;
        }
    </style>

}

<script>
    var templateId = GetQuery('templateId');
    var orderNos = GetQuery('orderNos');
    var printIndex = GetQuery('printIndex');
    var LODOP; //声明为全局变量

    $(function () {
        Preview();
    });

    //保存事件
    function AcceptClick() {
        top.frames[tabiframeId()].btn_UpdateExpressNum();
        closeDialog();
        return true;
    }

    function Preview() {
        LODOP = getLodop();
        var aryOrderNo = orderNos.split(",");
        LODOP.SET_PRINT_MODE("CUSTOM_TASK_NAME", "快递单批量打印");//为每个打印单独设置任务名
        LODOP.SET_PRINT_MODE("POS_BASEON_PAPER", true);//控制位置基点
        LODOP.SET_PRINT_MODE("CATCH_PRINT_STATUS", true);
        LODOP.SET_SHOW_MODE("BKIMG_IN_PREVIEW", 1); //注："BKIMG_IN_PREVIEW"-预览包含背景图 "BKIMG_IN_FIRSTPAGE"- 仅首页包含背景图
        if (printIndex) {
            LODOP.SET_PRINTER_INDEX(printIndex);
        }
        for (var i = 0; i < aryOrderNo.length; i++) {
            LODOP.NewPage();
            PreviewOrder(aryOrderNo[i], i);
        };
        LODOP.PREVIEW();
    };

    function PreviewOrder(orderNo, pageIndex) {
        var template;
        AjaxJson("/OutStockModule/Print/GetPrintContent", { OrderNo: orderNo, TemplateId: templateId, PageIndex : pageIndex }, function (data) {
            template = data;
        });
        eval(template.TemplateContent);
    };


    function Print() {
        LODOP = getLodop();
        var aryOrderNo = orderNos.split(",");
       
        for (var i = 0; i < aryOrderNo.length; i++) {
            PrintOrder(aryOrderNo[i]);
        };
    };

    function PrintOrder(orderNo) {      
        var template;
        AjaxJson("/OutStockModule/Print/GetPrintContent", { OrderNo: orderNo, TemplateId: templateId }, function (data) {
            template = data;
        });
        eval(template.TemplateContent);
        LODOP.SET_PRINT_MODE("CUSTOM_TASK_NAME", "快递单批量打印" + orderNo);//为每个打印单独设置任务名
        LODOP.SET_PRINT_MODE("POS_BASEON_PAPER", true);//控制位置基点
        LODOP.SET_PRINT_MODE("CATCH_PRINT_STATUS", true);

        if (printIndex) {
            LODOP.SET_PRINTER_INDEX(printIndex);
        }
        LODOP.PREVIEW();
        return;

        if (LODOP.CVERSION) {
            LODOP.On_Return = function (taskId, value) {
                var html = "";
                html += '<tr>';
                //html += '<td style="width: 320px;"><div id="divFileName">' + orderNo + TaskID + Value + '</div></td>';
                html += '<td style="width: 320px;"><div id="divFileName">' + orderNo + '</div></td>';
                html += '</tr>';
                $("#grid tbody").prepend(html);
            };
            //LODOP.PRINT();
            LODOP.PREVIEW();
            return;
        } else {
            //var result = LODOP.PRINT();
            var result = LODOP.PREVIEW();
            var html = "";
            html += '<tr>';
            //html += '<td style="width: 320px;"><div id="divFileName">' + orderNo + result + '</div></td>';
            html += '<td style="width: 320px;"><div id="divFileName">' + orderNo + '</div></td>';
            html += '</tr>';
            $("#grid tbody").prepend(html);
        }
    };
</script>

<div class="btnbartitle">
    <div style="float: left">
        批量打印
    </div>
</div>
<div style="margin: 1px;">
    <table id="grid" style="width: 100%; border-collapse: collapse;padding-top: 100px;">
        <tbody></tbody>
    </table>
</div>