@{
    ViewBag.Title = "打印交接单";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

@section head
{
    <script src="~/Content/Scripts/LodopFuncs.js"></script>
    <object id="LODOP1" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width="0" height="0">
        <embed id="LODOP_EM1" TYPE="application/x-print-lodop" width="0" height="0" PLUGINSPAGE="install_lodop32.exe"></embed>
    </object>

    <style>
        #grid td {
            text-align: left;
            border-bottom: 1px solid #ccc;
            padding: 6px 2px;
        }

        #divFileName {
            width: 310px;
            white-space: nowrap;
            text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            overflow: hidden;
        }

        #grid td img {
            vertical-align: middle;
            border: 0px solid #fff;
        }
    </style>

}

<script>
    var handoverId = GetQuery('handoverId');
    var printIndex = GetQuery('printIndex');
    var LODOP; //声明为全局变量

    $(function () {
        Print();
    });

    //保存事件
    function AcceptClick() {
        closeDialog();
        return true;
    }

    function Print() {
        var template;
        AjaxJson("/OutStockModule/HandOver/GetPrintContent", { handoverId: handoverId }, function (data) {
            template = data;
        });
        LODOP = getLodop();        eval(template.TemplateContent);
        LODOP.SET_PRINT_MODE("CUSTOM_TASK_NAME", "交接单批量打印");//为每个打印单独设置任务名
        LODOP.SET_PRINT_MODE("POS_BASEON_PAPER", true);//控制位置基点
        LODOP.SET_PRINTER_INDEX(printIndex);
        LODOP.PRINT();
    };
</script>

<div class="btnbartitle">
    <div style="float: left">
        打印交接单
    </div>
</div>
<div style="margin: 1px;">
    <table id="grid" style="width: 100%; border-collapse: collapse;padding-top: 100px;">
        <tbody></tbody>
    </table>
</div>