@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>欢迎使用</title>
    <!--框架必需start-->
    <link href="~/Content/Styles/ui-framework.css" rel="stylesheet" />
    <link href="~/Content/Styles/ui-accordion.css" rel="stylesheet" />
    <script src="~/Content/Scripts/jquery/jquery-1.8.2.min.js"></script>
    <script src="~/Content/Scripts/ui-framework.js"></script>
    <!--框架必需end-->
 
</head>
<body>
    <div style="margin: 10px;">
        <table style="width: 100%">
            <tr>
                <td>
                    <div class="Task" style="background-color: #E7191B">
                        <i></i>
                        <div class="centre">
                            <div class="icon">
                                <img src="~/Content/Images/task-1.png" />
                            </div>
                            <div class="Number">10</div>
                        </div>
                        <div class="text">
                            审核待处理任务
                        </div>
                    </div>
                </td>
                <td>
                    <div class="Task" style="background-color: #EEAE44">
                        <i></i>
                        <div class="centre">
                            <div class="icon">
                                <img src="~/Content/Images/task-2.png" />
                            </div>
                            <div class="Number">11</div>
                        </div>
                        <div class="text">
                            消息待处理任务
                        </div>
                    </div>
                </td>
                <td>
                    <div class="Task" style="background-color: #28B779">
                        <i></i>
                        <div class="centre">
                            <div class="icon">
                                <img src="~/Content/Images/task-3.png" />
                            </div>
                            <div class="Number">20</div>
                        </div>
                        <div class="text">
                            对私待处理任务
                        </div>
                    </div>
                </td>
                <td>
                    <div class="Task" style="background-color: #2BA9E3">
                        <i></i>
                        <div class="centre">
                            <div class="icon">
                                <img src="~/Content/Images/task-4.png" />
                            </div>
                            <div class="Number">78</div>
                        </div>
                        <div class="text">
                            订单修改待处理任务
                        </div>
                    </div>
                </td>
                <td>
                    <div class="Task" style="background-color: #C07FE7">
                        <div class="centre">
                            <div class="icon">
                                <img src="~/Content/Images/task-5.png" />
                            </div>
                            <div class="Number">18</div>
                        </div>
                        <div class="text">
                            本周销售订单
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <div style="margin-left: 20px; margin-right: 30px;">
            <table style="width: 100%">
                <tr>
                    <td style="width: 60%">
                        <div id="containerA"></div>
                    </td>
                    <td style="width: 40%">
                        <div id="containerB"></div>
                    </td>
                </tr>
            </table>
        </div>
        <div style="margin-left: 20px; margin-right: 30px;">
            <div id="container"></div>
        </div>
    </div>
</body>
</html>
